html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.app {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  position: relative;
  min-height: 100vh;
  background-image: url("/auth_background.svg");
}

.layout-main {

  .layout-child {
    min-height: 100vh;
  }

  .layout-sider {
    .logo {
      height: 32px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }
  }

  .layout-header {
    .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
    }

    trigger:hover {
      color: #1890ff;
    }

    .ico-logout {
      float: right;
    }
  }

  .layout-content {
    margin: 24px 16px;
    overflow: initial;
    min-height: calc(100% - 112px);

    .content {
      padding: 24px;
      background: #fff;
      text-align: center;
      min-height: 100%;
    }
  }

}

.common-logo, .common-logo-spin {
  max-height: 48px;
  vertical-align: middle;
  display: inline-block;
}

body {
  .features {
    .feature {
      margin: 0 auto;
    }

    .feature-auth {
      max-width: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 60vh;

      .form-auth {
        width: 100%;
        margin: 24px;
      }

      h2 {
        height: 44px;
        line-height: 44px;
        position: relative;
        top: 2px;
        color: rgba(0, 0, 0, .85);
        font-weight: 600;
        font-size: 33px;
        font-family: Avenir, helvetica neue, Arial, Helvetica, sans-serif;
        margin-bottom: 48px;
      }
    }
  }
}

